@model InternetScore.Models.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Product</h2>

@using (Html.BeginForm("Edit", "Internet", FormMethod.Post))
{
    <fieldset>
        <legend>Product</legend>
        @Html.HiddenFor(model=>model.Id)
        <p>
            Name is Product<br />
            @Html.EditorFor(model => model.Name)
        </p>

        <p>
            Count<br />
            @Html.EditorFor(model => model.Count)
        </p>
        <p>
            Price<br />
            @Html.EditorFor(model => model.Price)
        </p>
        <p>
            Category<br />
            @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categoryes as SelectList)
        </p>
        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
    <div>
        @Html.ActionLink("All products", "Index")
    </div>
}
